body {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    
}

h1 {
    text-wrap: balance;
}

@media (max-width: 576px) {
    body {
        background-color: rgb(52, 52, 52);
        font-size: 0.75rem;
        line-height: 1.6;
        margin: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }
    h2,
    h3,
    h4,
    h5 {
        font-size: 1.15rem;
    }

    p {
        font-size: 0.5rem;
        text-wrap: pretty;
    }

    .card-body,
    .container {
        font-size: 0.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .btn {
        padding: 0.7rem 1rem;
        margin-top: 1rem;
    }
}